apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: pulsenet-gateway
  labels:
    app.kubernetes.io/name: pulsenet-gateway
    app.kubernetes.io/instance: echo-stack
    app.kubernetes.io/component: gateway
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: pulsenet-gateway
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 65
