{{- range $svcKey, $svc := .Values.services }}
{{- $context := $ }}
{{- $svcName := ((default (replace $svcKey "_" "-") $svc.name) | replace "_" "-") -}}
{{- $fullName := include "echo-stack.serviceFullname" (dict "context" $context "name" $svcName) -}}
{{- $component := default $svc.component $svcName -}}
{{- $secretCfg := default (dict) $svc.secrets -}}
{{- if and (not $secretCfg.existingSecret) (or $secretCfg.stringData $secretCfg.data) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $fullName }}-secrets
  labels:
{{ include "echo-stack.labels" (dict "context" $context "name" $svcName "component" $component) | indent 4 }}
type: {{ default "Opaque" $secretCfg.type }}
{{- if $secretCfg.stringData }}
stringData:
{{ toYaml $secretCfg.stringData | indent 2 }}
{{- end }}
{{- if $secretCfg.data }}
data:
{{ toYaml $secretCfg.data | indent 2 }}
{{- end }}
---
{{- end }}
{{- end }}
