{{- range $svcKey, $svc := .Values.services }}
{{- $context := $ }}
{{- $svcName := ((default (replace $svcKey "_" "-") $svc.name) | replace "_" "-") -}}
{{- $fullName := include "echo-stack.serviceFullname" (dict "context" $context "name" $svcName) -}}
{{- $component := default $svc.component $svcName -}}
{{- $service := default (dict) $svc.service -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ $fullName }}
  labels:
{{ include "echo-stack.labels" (dict "context" $context "name" $svcName "component" $component) | indent 4 }}
{{- if $service.annotations }}
  annotations:
{{ toYaml $service.annotations | indent 4 }}
{{- end }}
spec:
  type: {{ default "ClusterIP" $service.type }}
  selector:
{{ include "echo-stack.selectorLabels" (dict "context" $context "name" $svcName) | indent 4 }}
  ports:
{{- if $service.ports }}
{{ toYaml $service.ports | indent 4 }}
{{- else if $svc.containerPorts }}
{{- range $svc.containerPorts }}
    - name: {{ default "http" .name }}
      port: {{ default .containerPort .port }}
      targetPort: {{ default .containerPort .targetPort }}
{{- end }}
{{- else }}
    - name: http
      port: 80
      targetPort: 80
{{- end }}
---
{{- end }}
