apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: atlas-core
  labels:
    app.kubernetes.io/name: atlas-core
    app.kubernetes.io/instance: echo-stack
    app.kubernetes.io/component: atlas
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: atlas-core
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 75
