server:
  http_listen_port: 3200
  grpc_listen_port: 4317

distributor:
  receivers:
    otlp:
      protocols:
        grpc: {}
        http: {}

ingester:
  trace_idle_period: 10s
  max_block_duration: 5m
  lifecycler:
    ring:
      replication_factor: 1

compactor:
  compaction:
    block_retention: 48h

querier:
  frontend_worker:
    frontend_address: tempo:9095

query_frontend:
  max_outstanding_per_tenant: 2000

storage:
  trace:
    backend: local
    local:
      path: /var/tempo/traces
    wal:
      path: /var/tempo/wal
